@font-face {
  font-style: normal;
  font-family: "IBM Plex Mono";
  font-display: swap;
  src: local("IBM Plex Mono"), local("IBM_Plex_Mono"), url("../lib/IBM_Plex_Mono/IBMPlexMono-Regular.woff2") format("woff2"), url("../lib/IBM_Plex_Mono/IBMPlexMono-Regular.woff") format("woff"), url("../lib/IBM_Plex_Mono/IBMPlexMono-Regular.eot") format("embedded-opentype"), url("../lib/IBM_Plex_Mono/IBMPlexMono-Regular.ttf") format("truetype");
};
